<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- front steering -->
  <transmission name="steering_left_front_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="steering_left_front_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!-- limit lower="-0.7" upper="0.7"/ -->
    </joint>
    <actuator name="steering_left_front_motor">
       <mechanismReduction>1</mechanismReduction>
    </actuator>
  </transmission>
  <transmission name="steering_right_front_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="steering_right_front_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <!-- limit lower="-0.7" upper="0.7"/ -->
    </joint>
    <actuator name="steering_right_front_motor">
       <mechanismReduction>1</mechanismReduction>
    </actuator>
  </transmission>

  <!-- front wheel motor -->
  <transmission name="wheel_left_front_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_left_front_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_left_front_motor">
       <mechanismReduction>1</mechanismReduction>
    </actuator>
  </transmission>
  <transmission name="wheel_right_front_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_right_front_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_right_front_motor">
       <mechanismReduction>1</mechanismReduction>
    </actuator>
  </transmission>

  <!-- rear wheel motor -->
  <transmission name="wheel_left_rear_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_left_rear_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_left_rear_motor">
       <mechanismReduction>1</mechanismReduction>
    </actuator>
  </transmission>
  <transmission name="wheel_right_rear_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_right_rear_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_right_rear_motor">
       <mechanismReduction>1</mechanismReduction>
    </actuator>
  </transmission>
</robot>