<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<!-- <xacro:property name="pi" value="3.1415926835897931" /> -->
  <xacro:macro name="bumper_macro" params="parent">
   
    <joint name="rear_bumper_joint" type="fixed">
      <parent link="${parent}"/> 
      <origin rpy="0 0 0" xyz="0.12 0 0.1"/>
      <child  link="rear_bumper_link"/>
    </joint>  
    <link name="rear_bumper_link">
      <!--pose>0.125 0 0.09  0 0 0</pose-->
      <inertial>
        <mass value="0.01"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" 
                 iyy="0.001" iyz="0.0" 
                 izz="0.001"/>
      </inertial>
      <visual>
        <geometry>
          <box size="0.024 0.024 0.024"/>
        </geometry>
        <material name="black">
            <color rgba="${25/255} ${25/255} ${25/255} .9"/>
        </material>
      </visual>
      <collision name="rear_bumper_collision">
        <geometry>
          <box size="0.024 0.024 0.024"/>
        </geometry>
      </collision>
   </link>
 
    <gazebo reference="rear_bumper_link">
     <material>Gazebo/Black</material>
      <sensor name="rear_bumper_sensor" type="contact"  >
        <update_Rate>2</update_Rate>
        <always_on>true</always_on> 
        <contact>
          <collision>base_footprint_fixed_joint_lump__rear_bumper_collision_collision_11</collision>
          <topic>/rear_contact_5wheel</topic> 
        </contact>
        <plugin name='bumper_sensor_plugin' filename='libgazebo_ros_bumper.so'>
          <alwaysOn>true</alwaysOn>
          <updateRate>2</updateRate>
          <bumperTopicName>/rear_contact_5wheel</bumperTopicName>
          <frameName>base_link</frameName>
        </plugin>
        <!-- <pose frame=''>0 0 0.4075 0 -0 0</pose>  -->
      </sensor>
    </gazebo>
  </xacro:macro> 
</robot>

