<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- xacro:property name="pi" value="3.1415926835897931" /-->

  <xacro:macro name="D430IR_macro"
    params="parent instance yaw x y z fps width height fov">
    <joint name="quad${instance}_joint" type="fixed">
      <origin rpy="0 0 ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="quad_link"/>
      <child link="quad${instance}_link"/>
    </joint>
    <link name="quad${instance}_link">
      <visual>
        <geometry><box size="0.01 0.1 0.03"/></geometry>
        <material name="red">
          <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
        </material>
      </visual>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" 
                    iyy="0.0001" iyz="0.0" 
                        izz="0.0001"/>
      </inertial>
      <collision><geometry><box size="0.01 0.1 0.03"/></geometry></collision>
    </link>

    <!-- seems necessary to get a right side up image; see frameName below -->
    <joint name="quad${instance}_optical_joint" type="fixed">
      <origin rpy="${-pi/2} 0 ${-pi/2}" xyz="0 0 0"/>
      <parent link="quad${instance}_link"/>
      <child  link="quad${instance}_optical_link"/>
    </joint>
    <link name="quad${instance}_optical_link" />

    <gazebo reference="quad${instance}_link">
      <material>Gazebo/Black</material>
      <sensor type="camera" name="quad${instance}">
        <update_rate>${fps}</update_rate>
        <camera name="quad${instance}">
          <horizontal_fov>${fov}</horizontal_fov>
          <image>
            <width>${width}</width>
            <height>${height}</height>
            <format>L8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>30</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <!-- Noise is sampled independently per pixel on each frame.
                 That pixel's noise value is added to each of its color
                 channels, which at that point lie in the range [0,1]. -->
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>

        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>quad${instance}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>quad${instance}_optical_link</frameName>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <robotNamespace>/</robotNamespace>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>  
</robot>